body{
    margin: 0;
    padding: 0;
    background-color: #01052D;
}

.nav-link{
  color: white;
  border-radius: 20px;
 
}

.form-control{
  width:20rem
}

.navbar{
  border-radius: 10px;
}
.image img{
  object-fit: cover;
}

.logo-img {
  width: 10rem;
  height: 3rem;
}
